* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}

body, html {
	height: 100%; /* Ensure the body takes up the full height */
	margin: 0; /* Remove default margins */
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
  }
  
  .navbar {
	width: auto; /* Adjust width as needed */
  }
  
.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-menu {
	position: absolute;
	top: 100%; /* Position below the trigger */
	left: 0;   /* Align with the left edge of the dropdown */
	min-width: 160px; /* Minimum width for the menu */
	z-index: 1000; /* Keep it above other elements */
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow: auto; /* Enable scrolling if needed */
	max-height: 300px; /* Limit height to avoid overflowing viewport */
  }
  
  .dropdown-menu.stay-in-viewport {
	right: 0; /* Align with the right edge if needed */
  }

.carousel-item img{
	width: 100%;
	height: 93vh;
	margin: auto;


}


.horizontal-card-img img{
	width: 100%;
	height: 35vh;



}



.about_img{
	min-width: 100%;
	max-height: 280px;

}

.my-service img{
	width: 100%;
	height: 100%;
}

.chekcout-my-profile{
	background: #a6dcef;
}

footer p{
	margin-bottom: 0;
}


/*.my-service .row>*{
	padding-right: 0;
    padding-left: 0;
}*/

/*for responsive design*/
/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }
